<section class='homepage'>
  <div class='homepage-description'>
    <h1>Seboo Conecta pessoas que estejam doando seus livros com outras pessoas que estão procurando livros.</h1>
    <h2>Coloque seus livros a disposição de outras pessoas que estão procurando livros.</h2>
    <h2>Encontre livros que você tenha interesse.</h2>
    <div class='homepage-actions'>
      <%= link_to 'Cadastre-se', new_user_registration_path, class: 'waves-effect waves-light btn' %>
      <%= link_to 'Entrar', new_user_session_path, class: 'waves-effect waves-light btn' %>
    </div>
  </div>
</section>