<section class='user-sidemenu'>
  <%# <%= link_to 'Conversations', conversation_path(@book) %>
  <h3 class='user-sidemenu-title'>Title</h3>
  <a class='user-sidemenu-link' href='#'>Link</a>
  <a class='user-sidemenu-link' href='#'>Link</a>
  <a class='user-sidemenu-link' href='#'>Link</a>
  <a class='user-sidemenu-link' href='#'>Link</a>
</section>
