<section class='user-menu'>
  <% if current_user.avatar.attached? %>
    <%= image_tag(current_user.avatar.variant(resize_to_fit: [200, 150]), class: 'user-menu-image responsive-img') %>
  <% end %>
  <h3 class='user-menu-name'>Name</h3>
  <div class='user-menu-links'>
    <%= link_to 'Perfil', user_path(current_user) %>
    <%= link_to 'Editar Perfil', edit_user_registration_path(current_user) %>
    <a class='user-menu-link' href='#'>Link</a>
    <a class='user-menu-link' href='#'>Link</a>
    <a class='user-menu-link' href='#'>Link</a>
    <a class='user-menu-link' href='#'>Link</a>
  </div>
  <a class='user-menu-btn btn purple' href='#'>Perfil</a>
</section>
